@import "tailwindcss";
/* Custom scrollbars for Task Manager */
.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #2563eb #1f1f1f; /* thumb color / track color */
}

/* Chrome, Edge, Safari */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 8px;
  border: 2px solid #1f1f1f;
}
